@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body{
  height: 100vh;
  max-width: 100vw!important;
  margin: 0 auto;
  overflow: hidden; 
  font-family: 'San Francisco', Helvetica, Arial, san-serif;
  background: linear-gradient(to right, #111, #222, #333);
}

.default-content-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
    width: 100%;
    min-height: 100vh;
}

div.marquee>a>img {
  height: 250px;
}

.logoMarqueeSection>div>div {
    padding-top: 0;
    padding-bottom: 0;
    min-height: 0;
}

.marquee-wrapper {
  display:  inline-block;
  white-space: nowrap;
}

.marquee {
    display:  inline-block;
    white-space: nowrap;
    position: relative;
    transform: translate3d(0%, 0, 0);
    animation-name: marquee;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.marquee a {
    display:  inline-block;
    white-space: nowrap;
    padding-right: 3rem;
}

.marquee-wrapper:hover .marquee {
    animation-play-state: paused !important;
}
.img{
    width: auto; 
    max-width: none;
}

@keyframes marquee {
    0% {
        transform: translate3d(0%, 0, 0);
    }
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}
.border-white{
    font-size: 60px;
    margin-bottom: 100px;
    text-align: center;
    text-shadow: 
     1px  1px     #fff, 
    -1px  1px     #fff, 
     1px -1px     #fff, 
    -1px -1px     #fff,
     1px  1px 5px #555;
}
@media (max-width: 768px){
    
    div.marquee>a>img {
        height: 170px;
      }
      .marquee a {
        padding-right: 10px;
    }
    .border-white{
        font-size: 35px;
    }
    
}